body {
    font-family: Garamond;
}



/* Стилі Навігаційна панель */
.st1 {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
}

nav {
    border-bottom: 2px solid rgb(215, 215, 215);
    padding: 10px;
    display: flex;
    align-items: center;
    height: 50px;
}

nav a {
    margin: 0 5px;
    text-decoration: none;
    color: black;
}

#nav-img a {
    margin: 0;
    text-decoration: none;
    color: inherit;
}

.image-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
}

nav img {
    max-height: 35px;
    padding: 10px;
}

.hidden-link {
    display: none;
}





/* Стилі Історії з фото */
/* 1 */
.st2 {
    display: flex;
}

.st2>div {
    flex: 1;
    border-bottom: 2px solid rgb(215, 215, 215);
    flex-basis: 50%;
    box-sizing: border-box;
}

.st2>div:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

.st2>div:last-child img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.st3 {
    padding: 60px;
    box-sizing: border-box;
}

/* 2 */
.st4 {
    display: flex;
}

.st4>div {
    border-bottom: 2px solid rgb(215, 215, 215);
}

.st4>div:first-child {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.st4>div:last-child {
    flex: 2;
}

.st4>div:first-child img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.st5 {
    padding: 60px;
}

/* 3 */
.st6 {
    display: flex;
}

.st6>div {
    border-bottom: 2px solid rgb(215, 215, 215);
}

.st6>div:last-child {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.st6>div:first-child {
    flex: 2;
}

.st6>div:last-child img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.st7 {
    padding: 60px;
}





/* Стилі Галерея */
.st8 {
    border-bottom: 2px solid rgb(215, 215, 215);
}

.st9 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.st10 {
    text-align: center;
    padding: 60px;
}

.st11 {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 200px;
    width: 100%;
    overflow: hidden;
}

.st11 img {
    height: 100%;
    width: auto;
    object-fit: cover;
}





/* Стилі Особливості */
.st12 {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    justify-content: center;
    align-items: stretch;
}

.st12>div {
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    border-width: 2px;
    border: 2px solid transparent;
}

.st12>div:nth-child(1),
.st12>div:nth-child(2) {
    border-right: 2px solid rgb(215, 215, 215);
    border-bottom: 2px solid rgb(215, 215, 215);
}

.st12>div:nth-child(3) {
    border-bottom: 2px solid rgb(215, 215, 215);
}

.st12>div:nth-child(4),
.st12>div:nth-child(5) {
    border-right: 2px solid rgb(215, 215, 215);
    border-right: 2px solid rgb(215, 215, 215);
}





/* Стилі Зв'язатися з нами */
form {
    margin: 10px 140px;
}

.st13 {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: center;
    align-items: stretch;
}

.st13>div {
    margin: 10px;
    flex: 1;
}

.st13>div>input {
    width: 100%;
    box-sizing: border-box;
}

.st14 {
    display: flex;
    margin-left: 20px;
    justify-content: left;
    align-items: center;
}

.st14 * {
    margin: 10px;
}

.st14>select {
    width: 100%;
    box-sizing: border-box;
    height: 35px;
}

.st15 {
    justify-content: left;
    align-items: center;
    margin: 10px 30px;
}

.st15>textarea {
    width: 100%;
    box-sizing: border-box;
    height: 150px;
}

.st16 {
    display: flex;
    align-items: center;
    margin: 30px;
}

.st16>button {
    margin-left: auto;
}





/* Стилі Посилання */
.st17 {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.st17>a {
    border: 2px solid black;
    border-radius: 50%;
    overflow: hidden;
    margin: 5px;
}

.st17>a>img {
    max-height: 60px;
    padding: 10px;
}

.st18 {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}





/* Медіа запити */
@media (max-width: 850px) {
    form {
        margin: 10px;
    }
}



@media (min-width: 600px) and (max-width: 850px) {
    #nav-img {
        display: none;
    }



    .st4>div:first-child {
        flex: 1;
    }

    .st4>div:last-child {
        flex: 1;
    }

    .st6>div:first-child {
        flex: 1;
    }

    .st6>div:last-child {
        flex: 1;
    }



    .st11 img:nth-last-child(-n+2) {
        display: none;
    }

    .st11 img {
        width: 100%;
        height: auto;
    }



    .st12>div {
        flex: 1 1 calc(50% - 20px);
    }

    .st12>div:nth-child(1),
    .st12>div:nth-child(3),
    .st12>div:nth-child(5) {
        border-right: 2px solid rgb(215, 215, 215);
    }

    .st12>div:nth-child(2),
    .st12>div:nth-child(4),
    .st12>div:nth-child(6) {
        border-right: none;
    }

    .st12>div:nth-child(4) {
        border-bottom: 2px solid rgb(215, 215, 215);
    }
}



@media (max-width: 600px) {
    .hidden-link {
        display: block;
    }

    .image-container a:not(.hidden-link) {
        display: none;
    }



    .st2 {
        flex-direction: column;
    }

    .st2>div:first-child {
        order: 2;
    }

    .st2>div:last-child {
        order: 1;
    }



    .st4 {
        flex-direction: column;
    }



    .st6 {
        flex-direction: column;
    }

    .st6>div:first-child {
        order: 2;
    }

    .st6>div:last-child {
        order: 1;
    }

    .st11 img:nth-last-child(-n+3) {
        display: none;
    }

    .st11 img {
        width: 100%;
        height: auto;
    }

    .st12 {
        display: block;
    }

    .st12>div {
        border-bottom: 2px solid rgb(215, 215, 215)
    }

    .st12>div:nth-child(1),
    .st12>div:nth-child(2),
    .st12>div:nth-child(4),
    .st12>div:nth-child(5) {
        border-right: none;
    }

    #nav-links {
        display: none;
    }

    .st13 {
        display: block;
    }
}